:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: rgb(105,23,204);
background: linear-gradient(90deg, rgba(105,23,204,1) 0%, rgba(118,9,121,1) 66%, rgba(62,87,184,1) 87%, rgba(38,121,211,1) 92%, rgba(38,121,211,1) 97%, rgba(0,141,255,1) 100%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 1px solid #646cff; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  /* width: 400px; */
}

body {
  margin: 0;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* place-items: center; */
  /* min-width: 120px; */

  /* min-height: 100vh; */
}

button {
  border-radius: 8px;
  border-color: #646cff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff64f7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  border-color: #646cff;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tiptap:first-child p {
  min-height: 100px;
  border: 1px solid #646cff;
  border-color: #646cff;
}
